<div class="golfer">
<form ng-submit="postScore(score)" ng-controller="GolferController">
  Enter your score:
  <input type="text" ng-model="score" name="score">
  <input type="submit" id="submit" value="Submit">
  <div>
    <span>{{ result.score }} {{ inputConfirmed }} </span>
  </div>
</form>


<div class="golfer" ng-repeat="score in data.scores">
  <div class="info">
    <div class="post">
      <p><span class="name">{{ score.score }} --- {{ score.name }} @ {{ score.course }}</span></p>
    </div>
  </div>
</div>
</div>
  <!-- <div><p><span class="name">{{ postedScore.name }} played at {{ postedScore.course }} ~score: {{ postedScore.score }}</span></p></div> -->
