/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*

  []===[]=b=o=d=y>

*/

body {
  background: #D7D7D7;
  color: #000000;
  font: 300 16px/22px "Lato", "Opens Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

strong {
  font-weight: 400;
}

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.tagline {
  margin: 66px 0 22px 00;
  text-align: right;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.logo {
  border-top: 4px solid #FFFFD5;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}

.primary-header a,
.primary-footer a {
  color: #fff;
}

.primary-header a: hover,
.primary-footer a: hover {
  color: #648880;
}


.fiveDayWeather {
    display: block;
    width: 80%;
    float: left;
    width: 33%;
}

.primary-footer small {
  float: left;
  font-weight: 400;
}

.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
  color: #648880;
  font-size: 14px;
}

.nav {
  text-align: right;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.nav li: last-child {
  margin-right: 0;
}


h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

.pageview {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.golfer {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.score {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.score {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}